.container{
    position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  height: 55% !important;
  width: 50% !important;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;

}




h1{
    font-weight: 400;
}
.header{
    display: inline-block;
    width: 100%;
}

#city-name{
    float: left;
    width: 40%;
    padding-top:3%;
    
}






#arrow{
    float: left;
    text-align: center;
    padding-top: 4%; 
    width: 10%;
}


.current-wrapper{
    width:100%;
    //height: 50% !important;
    display: flex ;
    color: #D49185;

}

.left{
    // float: left;
   // position: relative;
    width: 45%; 
    padding-top:0%;
    padding-left:4% ; 
    color: #D49185;
    padding-bottom: 5%;
    //padding-left: 6rem;
   //margin: 0 auto;
}

.current-container{
    //display: inline-block;
    
}

.temp-number{
   display:flex;
    // display: inline;
    padding-left: 3%;
    font-size: 2.2em;
    //padding-right:10%; 
}

.temp-icon{
    //float:left;
    display: inline;
    font-size: 5em; 
    padding-top: 15%;
}


.right{
    float: right;
    
    //padding-right: 6rem;
    //margin: 0 auto;
}

div#weekly{
    padding-left: 15%;
    padding-right: 15%;
    height: 20%;
}
div#weekly ul li{
    float: left;
}

div#weekly li{
    //padding-left: 2%;
    padding-right: 8%;

}

div#weekly li i{
    //padding-left: 2%;
    font-size: 2em;
    padding-top: 3%;
    padding-bottom: 3%;
}



ul{
    list-style-type:none;
}

#divider{
    //padding-top:3%;
    //width: 50%;
    padding-top: 3%;
    padding-right: 4%;  
}

.info{
    padding-left: 4%;
}

.date{
    font-size: 1.8em;
    font-weight: 400;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 0%;
    padding-right: 0%;

    margin: 0px;
}

.weather-words{
    font-size: 1.4em;
    font-weight: 400;
    padding: 0;
    margin: 0px;
}

.footer{

    text-align: center;
}

.onoffswitch {
    position: relative;
    
    float: right; 
    width: 70px !important;
    
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden;
    
    border: 2px solid #D6CECE; border-radius: 16px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 14px; color: white; font-family: Roboto; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "°C";
    padding-left: 20px;
    background-color: #FFFFFF; color: #999999;
}
.onoffswitch-inner:after {
    content: "°F";
    padding-right: 20px;
    background-color: #FFFFFF; color: #999999;
    text-align: right;
}
.onoffswitch-switch {

    display: block; width: 18px; margin: 3.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 43px;
    border: 2px solid #D6CECE; border-radius: 16px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    
    right: 0px; 
}


.temp-number-left-side{
    flex: 1 1 3em;

    
} 

.temp-number-right-side{
    flex: 3 3 4em;
    text-align: center;
    font-size: 2.2em;
    width:40%;
    padding-left: 10%;
    padding-right: 20%; 
}


.daytime-weather{
    width: 50%;
    padding-left: 5%; 
    padding-right: 5%;
}

@media screen and (min-width:320px) and (max-width:479px){

    .container{
        position: absolute;
      display: inline-block;
      top: 50%;
      left: 50%;
      height: 80% !important;
      width: 70% !important;
      transform: translate(-50%, -50%);
      background-color: #FFFFFF;
    
    }

    div#city-name h1{
        //float: left;
        font-size: 1em;
        width: 40%;
        padding-top:5%;
        padding-left: 5%;
        
    }

   .date,.weather-words{
        font-size: 1em;
    } 

    .current-wrapper{
        display: inline-block;
        color: #D49185;
    
    }

    .left{
        display: inline-block;
        padding:0;
        width: 100%;
        height: 10%;
    }

    .margin{
        width: 90%;
        max-height: 5%;
    }

    .temp-number{
        display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;width: 100%; 
        width: 100%;
        padding: 0;
       // padding-left: 3%;
     }

    .temp-number-left-side{
        flex: 1;
        padding: 0;
        padding-left:2%; 
        padding-top: 5%;
        padding-bottom:5%;
        //text-align: center;
        //justify-content: center;
    }

    .temp-number-right-side{
        // width: 50%;
       
        flex: 1;
        padding: 0;
        
        
    
      }
    .temp-number-left-side h1,{
        top: 30%;
        font-size: 1.5em;
        
    }

    .temp-number-right-side i{
        
        font-size: 0.8em;

       
    }

    .daytime-weather{
        display: inline-block;
        width: 100%;
        height: 10%;
        padding-left: 3%;
    }

    div#weekly.footer{
        padding-right: 3%;
        padding-left: 5%;
        height: 40%;
        text-align: center;
    }

    div#weekly li{
        padding-right: 0.2em;
        //padding: 0%;
    
    }


}



@media screen and (min-width:480px) and (max-width:768px){

    .container{
        position: absolute;
      display: inline-block;
      top: 50%;
      left: 50%;
      height: 60% !important;
      width: 70% !important;
      transform: translate(-50%, -50%);
      background-color: #FFFFFF;
    
    }

    div#city-name h1{
        //float: left;
        font-size: 1.4em;
        width: 40%;
        padding-top:4%;
        padding-left: 5%;
        
    }

   .date,.weather-words{
        font-size: 1.1em;
    } 

    .current-wrapper{
        display: flex;
        color: #D49185;
    
    }

    .left{
        display: inline-block;
        padding:0;
        width: 100%;
        height: 10%;
    }

    .margin{
        width: 90%;
        max-height: 5%;
    }

    .temp-number{
        flex: 1;
        display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 70%; 

    padding: 0;
   padding-left: 10%;
       // padding-left: 3%;
     }

    .temp-number-left-side{
        
        //text-align: center;
        //vertical-align: middle;
        padding: 0;
        padding-left:2%; 
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .temp-number-right-side{
        // width: 50%;
       flex: 1;
        padding: 0;
        
        
    
      }
    .temp-number-left-side h1,{
       
        font-size: 1.5em;
    }

    .temp-number-right-side i{
        
        font-size: 0.8em;
        

       
    }

    .daytime-weather{
        flex: 1;
        width: 100%;
        height: 10%;
        padding-left: 3%;
    }

    div#weekly.footer{
        padding-right: 8%;
        padding-left: 16%;
        height: 10%;
        text-align: center;
    }

    div#weekly li{
        padding-right: 0.5em;
        //padding: 0%;
    
    }


}

@media screen and (min-width:769px) and (max-width:968px){
    .container{
        position: absolute;
      display: inline-block;
      top: 50%;
      left: 50%;
      height: 80% !important;
      width: 60% !important;
      transform: translate(-50%, -50%);
      background-color: #FFFFFF;
    
    }

    div#city-name h1{
        //float: left;
        font-size: 1.6em;
        width: 40%;
        padding-top:4%;
        padding-left: 5%;
        
    }

   .date,.weather-words{
        font-size: 1.3em;
    } 

    .current-wrapper{
        
        color: #D49185;
    
    }

    .left{
        display: inline-block;
        padding:0;
        width: 100%;
        height: 10%;
    }

    .margin{
        width: 90%;
        max-height: 5%;
    }

    .temp-number{
        display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 70%; 

        padding: 0;
       
     }

    .temp-number-left-side{
        flex: 1;
        //text-align: center;
        //vertical-align: middle;
        padding: 0;
        padding-left:2%; 
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .temp-number-right-side{
        // width: 50%;
       flex: 1;
        padding: 0;
        
        
    
      }
    .temp-number-left-side h1,{
      
        font-size: 1.8em;
        
    }

    .temp-number-right-side i{
        
        font-size: 1em;
        text-align: left;
       
    }

    .daytime-weather{
        flex: 1;
        width: 100%;
        height: 10%;
        padding-left: 3%;
    }

    div#weekly.footer{
        padding-right: 8%;
        padding-left: 16%;
        height: 10%;
        text-align: center;
    }

    div#weekly li{
        padding-right: 1.8em;
        //padding: 0%;
    
    }


}


