<!-- header(back arrow,cityname,toggle button) -->
<div class="container" >
    <!-- header  -->
    <div class="header"> 
        <div id="arrow">
            <button class="button" (click)="backHome($event)">
                <i class="material-icons">
                arrow_back
                </i>
              </button> 
        </div>
        <div id="city-name" >
          <h1 >{{cityName}}</h1>
        </div>
        <!-- switch -->
        <div id="divider">
        <div class="onoffswitch" id="switch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" (click)="scaleChange(scaleInput)" #scaleInput>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
          
        </div>
      </div>
    </div>

<!--  -->
<div class="info">
  <h4 class="date">{{date}}</h4>
  <h5 class="weather-words">{{currentWeatherDescription}}</h5>
</div>
<!-- current weather section -->

  <div class="current-wrapper">
         <div class="temp-number">
              <div class="temp-number-left-side">
                  <h1 >{{currentWeatherTemperature | number: '1.0-0'}}°{{scale}}
                  </h1> 
                
              </div>
              <div class="temp-number-right-side">
                  <i class="{{currentWeatherIcon}}"></i>
            
              </div>
        </div>
    <div class="daytime-weather ">
      <ul  *ngFor="let ct of currentTimeTempList">
          <li>
            <div style="display: flex">
              <div style="flex:1 1 4em;">
                  <h4 >{{ct.daytime}}</h4>
              </div>
              <div style="flex:3 3 4em;">
                <h4>{{ct.temp | number: '1.0-0'}}°{{scale}}</h4>
              </div>
            </div>
          </li>
      </ul>  
    </div>
</div>

<div class="footer" id="weekly">

    <ul *ngFor="let weekWeatherItem of weekWeatherList">
      <li>
        <small>{{weekWeatherItem.day}}</small>
        <br/>
        <i class="{{weekWeatherItem.icon}}"></i>
        <br/>
        <small>{{weekWeatherItem.temp  | number: '1.0-0'}}°{{scale}}</small>
        
      </li>
    </ul>
  
  
  </div>






