<div class="container">
  <div class="center">
    <!-- search by city -->
    <div class="search">
      <input type="text" class="search-input" placeholder="City" (ngModelChange)="resetPlaceHolder($event)" [(ngModel)]="cityInput"
        #city/>
      <button (click)="inputSearch(city)">
        <i class="material-icons search-icon">
          search
        </i>
      </button>
    </div>
    <!-- search by geolocation -->
    <div class="footer">
      <p>
        <small>or</small>
      </p>
      <br/>
      <span>use my
        <a class="dots" (click)="geolocationSearch($event)">current position</a>
      </span>
      <!-- request error shows here -->
      <div>
        <br/>
        <h3>{{error}}</h3>
      </div>
    </div>
  </div>
</div>
