$white:#FFFFFF;

*{
	font-size: 200;
}

.border-bottom{
	position: relative;
	width: 10em;
}

.center{
	background-color: $white;
	bottom: 0;
	height: 60%;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 5%;
	width: 55%;
}

.container{
	background-color: $white;
	display: inline-block;
	height: 55%;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

.dots{
	border-bottom: 1px black dotted;
	cursor: pointer;
}
.search{
	border-bottom: solid #737779 0.04em;
	position: relative;
	top: 30%;
}

.search-input{
	background-color: transparent;
	border: none;
	font-size: 1.2em;
	height: 2.2em;
	padding-left: 5%;
	text-align: center;
}

.footer{
	position: relative;
	top: 40%;
}

::-webkit-input-placeholder{
	font-size: 2.0em;
	text-align: center;
}

::-moz-placeholder{
	font-size: 2.0em;
	text-align: center;
}

button{
	background-color: Transparent;
	border: none;
	color: black;
	cursor: pointer;
	float: right;
	height: 10%;
	margin-bottom: 0%;
}

i{
	font-size: 2.2em;
	padding-top: 30%;
	position: relative;
}

input:focus{
	outline: none;
}

@media screen and (min-width:1440px) and (max-width:2560px)
{
	::-webkit-input-placeholder{
		font-size: 2.1em;
		text-align: center;
	}
	::-moz-placeholder{
		font-size: 2.1em;
		text-align: center;
	}
}

@media screen and (min-width:1024px) and (max-width:1440px){
	.search-input{
		background-color: transparent;
		border: none;
		font-size: 1.0em;
		height: 1.9em;
		padding-left: 5%;
		text-align: center;
	}
	::-webkit-input-placeholder{
		font-size: 1.9em;
		text-align: center;
	}
	::-moz-placeholder{
		font-size: 1.9em;
		text-align: center;
	}
	i{
		font-size: 1.9em;
		padding-top: 22%;
		position: relative;
	}
}

@media screen and (min-width:768px) and (max-width:1024px){
	.search-input{
		background-color: transparent;
		border: none;
		font-size: 0.9em;
		height: 1.8em;
		padding-left: 5%;
		text-align: center;
	}
	::-webkit-input-placeholder{
		font-size: 1.8em;
		text-align: center;
	}
	::-moz-placeholder{
		font-size: 1.8em;
		text-align: center;
	}
	i{
		font-size: 1.8em;
		padding-top: 20%;
		position: relative;
	}
}

@media screen and (min-width:490px) and (max-width:768px)
{
	.search-input{
		background-color: transparent;
		border: none;
		font-size: 0.6em;
		height: 1.5em;
		padding-left: 5%;
		text-align: center;
	}
	::-webkit-input-placeholder{
		font-size: 1.5em;
		text-align: center;
	}
	::-moz-placeholder{
		font-size: 1.5em;
		text-align: center;
	}
	i{
		font-size: 1.5em;
		padding-top: 4%;
		position: relative;
	}
}

@media screen and (min-width:320px) and (max-width:490px){
	.search-input{
		background-color: transparent;
		border: none;
		font-size: 0.5em;
		height: 1.4em;
		padding-left: 5%;
		text-align: center;
	}
	::-webkit-input-placeholder{
		font-size: 1.4em;
		text-align: center;
	}
	::-moz-placeholder{
		font-size: 1.4em;
		text-align: center;
	}
	i{
		font-size: 1.4em;
		padding-top: 10%;
		position: relative;
	}
}