/* You can add global styles to this file, and also import other style files */
$bColor:#FF896A;
*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

html { background-color: $bColor !important; 
    }


.button{
    background-color: Transparent !important;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
}